.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__logo__text {
  color: #1b243d;
  margin: 0 10px;
}
.header__navigation {
  flex-grow: 1;
}
.header__list {
  display: flex;
  justify-content: center; /* Centers the nav items */
  list-style: none;
}
.header__item {
  margin: 0 20px;
}
.header__link {
  text-decoration: none;
  color: #4f5665;
}
.header__link:hover {
  font-weight: 600;
}

.header__authorization {
  display: flex;
  align-items: center;
  color: #3f6189;
  font-size: 16px;
  font-weight: 500;
}
.header__authorization__signin {
  margin-right: 10px;
  text-decoration: none;
}
.header__authorization__create__button {
  border: 1px solid #3f6189;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
