.info {
  display: flex;
  flex-direction: row;

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    align-items: center;
    padding: 0px 91px 0px 91px;
    width: 1140px;
    height: 200px;
  }
}
.text {
  margin-left: 36px;
  &__name {
    margin-top: 5px;
  }
}
.divider {
  height: 50px;
  width: 1px;
  background-color: #e0e0e0;
}
