.info {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 0px 91px 0px 91px;
    height: 200px;
  }
}
.text {
  margin-left: 36px;
  &__name {
    margin-top: 5px;
  }
}
.divider {
  height: 125px;
  width: 2px;
  margin-left: 109px;
  background-color: #e0e0e0;
}
